html {
  scroll-behavior: smooth;
}

.vertical-menu {
  width: 200px;
  /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}

/* .vertical-menu a.active {
    background-color: #204887;
    /* Add a blue color to the "active/current" link */
/* color: white; */
/* } */



.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  font-size: 1.2em;
  font-variant-caps: all-small-caps;
  font-family: "Roboto", sans-serif;
}

.main {
  position: absolute;
  width: 900px;
  margin: 0 auto;
  margin-left: 18em;
  padding: 0.8em;
  line-height: 1.5;
  background-color: #e1d4cd;
}

body {
  background-color: #e1d4cd;
}

/************ HJEM SEKTION ************/

.hjemtitle {
  background-color: #e1d4cd;
  display: grid;
}

.hjemtitle h1 {
  display: grid;
  margin: 0% 0 40% 0;
  font-size: 50px;
  color: #ffffff;
  font-weight: 100;
  font-family: arial;
  justify-items: center;
  text-transform: uppercase;
}

.hjemtitle img {
  width: 40%;
  margin: 25% 0 0 30.5%;
}

/**************  FARVER SEKTION ***************/

.maintitlefarver {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
}

.maintitlefarver h2 {
  margin: 6% 0 2% 9.8%;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: uppercase;
}

.alignsection {
  margin: -2% 0 3% 9.8%;
  width: 100px;
  border-bottom: 2px solid #74828b;
}

.farver {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #daebff;
  font-family: sans-serif;
  margin-bottom: 10%;
}

.box {
  padding: 0 0 0 20px;
  margin: 5% 0 0 23.5%;
}

.blue {
  background-color: #5a94c8;
  padding: 40px;
  width: 20%;
}

.green {
  background-color: #5ac869;
  padding: 40px;
  width: 20%;
}

.darkgreen {
  background-color: #75902e;
  padding: 40px;
  width: 20%;
}

.orange {
  background-color: #fcc962;
  padding: 40px;
  width: 20%;
}

.lightgray {
  background-color: #f8f8f8;
  padding: 40px;
  width: 20%;
}

.lightgrayish {
  background-color: #c3d2db;
  padding: 40px;
  width: 20%;
}

.limegreen {
  background-color: #86de92;
  padding: 40px;
  width: 20%;
}

.softyellow {
  background-color: #fdf192;
  padding: 40px;
  width: 20%;
}

.farver h3 {
  color: #0c0c0c;
  font-weight: 400;
}

.farver p {
  color: #0c0c0c;
  font-weight: 100;
  margin-bottom 10%;
}

/***************** TYPOGRAFI SEKTION **************/

.maintypotitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto", sans-serif;
}

.maintypotitle h2 {
  margin: 3% 0 0 8.8%;
  font-size: 16px;
  font-weight: 400;
  color: #74828b;
  text-transform: uppercase;
}

.alignsection2 {
  margin: 0 0 3% 8.8%;
  width: 70px;
  border-bottom: 2px solid #74828b;
}

.skrifttitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Roboto", sans-serif;
}

.skrifttitle h3 {
  margin: 0 0 0 17.5%;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #707070;
}

.skrifttitle h5 {
  margin: 3% 0 0 -40%;
  font-size: 12px;
  font-weight: 400;
  color: #707070;
}

.skrifttitle h4 {
  margin: 0 0 0 -40%;
  font-size: 18px;
  font-weight: 800;
  color: #707070;
  font-family: "Roboto", sans-serif;
}

.skrifttitle h2 {
  margin: 0 0 0 -40%;
  font-size: 18px;
  font-weight: 200;
  color: #707070;
  font-family: "Roboto", sans-serif;
}

/***** SUB TYPO SEKTION ******/

.subtypomaintitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto", sans-serif;
}

.subtypomaintitle h3 {
  margin: 2% 0 0 8.8%;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
}

.subtypoheads {
  background-color: #daebff;
  font-family: sans-serif;
  margin-bottom: 10%;
}

.subtypoheads h1 {
  margin: 0 0 1% 8.8%;
  font-size: 32px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

.subtypoheads h2 {
  margin: 0 0 1% 8.8%;
  font-size: 24px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

.subtypoheads h3 {
  margin: 0 0 1% 8.8%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

.subtypoheads h4 {
  margin: 0 0 1% 8.8%;
  padding-bottom: 5%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

/*************** IKONER SEKTION ****************/

.mainikontitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
}

.mainikontitle h2 {
  margin: 3% 0 2% 8.8%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

}

.alignsection3 {
  margin: -2% 0 3% 8.8%;
  width: 90px;
  border-bottom: 2px solid #74828b;
}

.mainikontitle p {
  margin: 0 0 2% 8.8%;
  font-size: 16px;
  font-weight: 400;
}



/********* SUB IKONER SEKTION *********/

.subikontitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #daebff;
  font-family: sans-serif;
  margin-bottom: 10%;
}

.subikontitle h3 {
  margin: 3% 0% 2% 17.8%;
  font-size: 30px;
  font-weight: 100;
  font-family: sans-serif;
  width: 100px;
  border-bottom: 2px solid #74828b;
}


.ikoner img {
  display: grid;
  width: 10%;
  margin: 3% 0% 2% 35.5%;
}

.ikoner p {
  display: grid;
  margin: 3% 0% 10% 26.5%;
}

/********* KNAPPER SEKTION *************/

.mainknaptitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
}

.mainknaptitle h2 {
  margin: 3% 0 0 8.8%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
  border-bottom: 2px solid #74828b;
}

.mainknaptitle p {
  margin: 3% 0 3% 8.8%;
  font-size: 18px;
}

.mainknaptitle h3 {
  margin: 0 0 1% 8.8%;
  font-size: 18px;
}


.subknaptitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greybtn {
  margin: 0 auto;
  width: fit-content;
  font-style: normal;
  font-family: Karla;
  font-size: 16px;
  margin: 3% 0 3% 17.8%;
  padding: 4px 20px 4px 20px;
  color: #ffffff;
  background-color: #C3D2DB;
  border-radius: 3px;
}

.greybtn:hover {
  transition: 0.6s;
  transform: scale(0.85);
  background-color: #9EABB2;
}

.greenbtn {
  margin: 0 auto;
  width: fit-content;
  font-style: normal;
  font-family: Karla;
  font-size: 16px;
  margin: 3% 0 3% -55%;
  padding: 6px 20px 6px 20px;
  color: #f1f1f1;
  background-color: #5AC869;
  border-radius: 3px;
}

.greenbtn:hover {
  transition: 0.6s;
  transform: scale(0.85);
  background-color: #49A355;
}

.codebox {
  background-color: #daebff;
  overflow: scroll;
  margin: 0 0 10% 0;  
}

.defaultbtn {
  background-color: white;
  width: 400px;
  overflow: scroll;
  margin: 0 0 0 8.8%;
  padding: 1% 1% 0 1%;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid #ccc;
  border: 1px solid #ccc; 

}

.calltoactionbtn {
  background-color: white;
  width: 400px;
  overflow: scroll;
  margin: 0 0 3% 8.8%;
  padding: 1% 1% 1% 1%;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/************* INPUT FELTER SEKTION ***************/

.maininputtitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
}

.maininputtitle h2 {
  margin: 3% 0 3% 8.8%;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
  border-bottom: 2px solid #74828b;
}




/****** SUB INPUT FELTER SEKTION *********/

.subinputtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: #daebff;
  font-family: sans-serif;
  margin-bottom: 10%;
}

.subinputtitle h3 {
  margin: 0 0 0 17.8%;
  font-size: 16px;
  font-weight: 400;
}

.subinputtitle h5 {
  color: transparent;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 3% 0 0 17.8%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.mainfnameform h3 {
  margin: -2.5% 0 5.2% 8.8%;
  width: 100px;
  border-bottom: 1px solid #74828b;
}


.fnameform {
  background-color: white;
  width: 350px;
  margin: 0 0 0 8.8%;
  padding: 1% 0 0 1%;
  font-size: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
}

.fnameform2 {
  background-color: white;
  width: 350px;
  margin: 0 0 0 8.8%;
  padding: 1% 0 0 1%;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.calender {
  width: 75%;
  padding: 12px 20px;
  margin: 3% 0 0 17.8%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.fnameform3 {
  background-color: white;
  width: 350px;
  margin: 8.5% 0 0 8.8%;
  padding: 1% 0 0 1%;
  font-size: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
}

.fnameform4 {
  background-color: white;
  width: 350px;
  margin: 0 0 0% 8.8%;
  padding: 1% 0 0% 1%;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.korrektbox {
  width: 75%;
  padding: 12px 20px;
  margin: 3% 0 0 17.8%;
  display: inline-block;
  border: 2px solid #5AC869;
  background-color: #84FF94;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.fejlbox {
  width: 75%;
  padding: 12px 20px;
  margin: 3% 0 2% 17.8%;
  display: inline-block;
  border: 2px solid #AD443B;
  background-color: #FCEEEC;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.fejltitle h4 {
  margin: 0 0 0 17.8%;
  font-size: 12px;
  color: #AD443B;
}

.dropdown {
  width: 75%;
  height: 50%;
  padding: 12px 20px;
  margin: 3% 0 0 17.8%;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/********** TONE OF VOICE SEKTION  **************/

.maintostitle {
  background-color: #daebff;
  display: grid;
  grid-template-columns: 1fr;
}

.maintostitle h2 {
  margin: 3% 0 2% 8.8%;
  font-size: 30px;
  font-weight: 100;
  margin-top: 5%;
}
