* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/*----------------------------------------------HEADER-----------------------------------------*/

header {
  background: #fff;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1;
}

.logo {
  float: left;
}

.logo img {
  padding: 10%;
  width: 300px;
}

.nav-menu {
  float: right;
}

.nav-menu a {
  float: left;
  display: block;
  color: #333;
  text-decoration: none;
  text-align: center;
  padding: 45px 40px;
  font-size: 26px;
}

.nav-menu a:hover {
  background: #5A94C8;
  color: #fff;
    border-radius: 5px;
}

.nav-menu img {
  width: 160px;
  padding-left: 40px;
}

/*--------------------------INDEX SECTION 1-----------------------------------------*/

/* BUTTON SKAL LAVES OM. KODE NED*/

.test {
  position: absolute;
    bottom: 0;
    left: 50%;
}

.buttontest {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    border: 2px solid white;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  border-radius:100px;
}

.buttontest:hover {
    background-color: #5A94C8;
    color: white;
    border: 2px solid #5A94C8;
}

.buttontest img{
    width: 30px;
    padding-top: 5px;
}

/*Bounce*/
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

p.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

p.kreep:hover {
  animation: none;
}

/* BUTTON SKAL LAVES OM. KODE OP*/


.bg {
  background-image: url("../img/104.jpg");
  height: 100vh;
  background-size: cover;
}

.boxes {
  height: 85vh;
  width: 100%;
  margin-top: 120px;
  float: left;
}

.wrapper1 {
  padding-top: 120px;
  width: 1500px;
  margin: 0 auto;
}

.box1 {
  float: left;
}

.titel {
  background-color: rgba(90,148,200, 0.8);
  height: 190px;
  width: 620px;
  border-radius: 20px;
}

.titel h2 {
  text-align: center;
  color: #ffffff;
  font-size: 42px;
  padding: 10px 0;
}

.titel p {
  text-align: center;
  width: 470px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
}

.box2 {
  height: 600px;
  width: 500px;
  float: right;
}

.kortInfo {
  background-color: rgba(90,148,200, 0.8);
  height: 400px;
  width: 500px;
  border-radius: 20px;
    margin-bottom: 40px;
}

.kortInfo h2 {
  padding: 30px 50px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
}

.kortInfo p {
  padding: 0px 50px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
}

.book {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  /* Koden forneden er for at centre button */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/*-----------------------------INDEX SECTION 2-----------------------------------------*/

.information {
  color: #5A94C8;
  padding: 100px 0px;
  font-size: 80px;
  font-weight: 900;
}

.filler {
  margin: 0px 0px 50px 300px;
  width: 800px;
  height: 550px;
}

.cirkel {
  width: 40px;
  height: 40px;
  margin: 120px 28px 0;
  border: solid 2px #fff;
  border-radius: 100px;
  position: absolute;
}

.cirkel1 {
  width: 40px;
  height: 40px;
  margin: 65px 28px 0;
  border: solid 2px #fff;
  border-radius: 100px;
  position: absolute;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

/* LÆRING */

.picBox {
  background-image: url("../img/L%C3%A6ring.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 50px 0px;
  width: 900px;
  height: 550px;
}

.infoBox {
  background-color: #f3f3f3;
  margin: 275px 0px 0px 600px;
  width: 600px;
  height: 275px;
  position: absolute;
}

.infoBox p,
h2 {
  float: left;
}

.infoBox h2 {
  color: #5A94C8;
  padding: 50px 0px 20px 50px;
  font-size: 50px;
  font-weight: 100;
}

.infoBox p {
  clear: both;
  padding: 0px 50px 0px 50px;
  font-size: 20px;
}

.mereInfo {
  background-color: #5A94C8;
  margin: 0px 0px 0px 600px;
  width: 100px;
  height: 275px;
}

/* AKTIVITETER */

.picBox2 {
  background-image: url("../img/lonely-planet-973277-unsplash.jpg");
  background-size: 100%;
  background-position: 0% 70%;
  margin: 0px 0% 50px 0px;
  width: 900px;
  height: 550px;
  float: right;
}

.infoBox2 {
  background-color: #f3f3f3;
  margin: 275px 600px 0px 0px;
  width: 700px;
  height: 275px;
  float: right;
}

.infoBox2 p,
h2 {
  float: left;
}

.infoBox2 h2 {
  color: #75902e;
  padding: 50px 0px 20px 150px;
  font-size: 50px;
  font-weight: 100;
}

.infoBox2 p {
  clear: both;
  padding: 0px 50px 0px 150px;
  font-size: 20px;
}

.mereInfo2 {
  background-color: #75902e;
  margin: 0px 0px 0px 0px;
  width: 100px;
  height: 275px;
  float: right;
  position: absolute;
}

/* FACILITETER */

.picBox3 {
  background-image: url("../img/106.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 50px 0px;
  width: 900px;
  height: 550px;
}

.infoBox3 {
  background-color: #f3f3f3;
  margin: 275px 0px 0px 600px;
  width: 600px;
  height: 275px;
  position: absolute;
}

.infoBox3 p,
h2 {
  float: left;
}

.infoBox3 h2 {
  color: #fcc962;
  padding: 50px 0px 20px 50px;
  font-size: 50px;
  font-weight: 100;
}

.infoBox3 p {
  clear: both;
  padding: 0px 50px 0px 50px;
  font-size: 20px;
}

.mereInfo3 {
  background-color: #fcc962;
  margin: 0px 0px 0px 600px;
  width: 100px;
  height: 275px;
}

/* KONTAKT OS */

.picBox4 {
  background-image: url("../img/adult-business-businessman-2182970.jpg");
  background-size: 100%;
  background-position: 0% 10%;
  margin: 0px 0px 50px 0px;
  float: right;
  width: 900px;
  height: 550px;
}

.infoBox4 {
  background-color: #f3f3f3;
  margin: 275px 600px 0px 0px;
  width: 700px;
  height: 275px;
  float: right;
}

.infoBox4 p,
h2 {
  float: left;
}

.infoBox4 h2 {
  color: #75902e;
  padding: 50px 0px 20px 150px;
  font-size: 50px;
  font-weight: 100;
}

.infoBox4 p {
  clear: both;
  padding: 0px 50px 0px 150px;
  font-size: 20px;
}

.mereInfo4 {
  background-color: #75902e;
  margin: 0px 550px 0px 0px;
  width: 100px;
  height: 275px;
  position: absolute;
  float: right;
}

/*-----------------UNDERSIDE LÆRING-----------------------------------------*/

/*-------------------LÆRING SECTION 1-----------------------------------------*/

.bglaering {
  background-image: url("../img/thomas-kelley-128626-unsplash.jpg");
  height: 100vh;
  background-size: cover;
}

/*-------------------LÆRING SECTION 2-----------------------------------------*/
.wrapper2 {
  width: 1400px;
  margin: 0 auto;
}

/* FLYGTNINGE MUSEUM */

.picLaering {
  background-image: url("../img/L%C3%A6ring.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 250px 50px 0px;
  width: 35%;
  height: 350px;
  float: left;
}

.LaeringBox {
  background-color: #f3f3f3;
  margin: 175px 0px 0px 250px;
  width: 325px;
  height: 175px;
  position: absolute;
}

.LaeringBox p,
h2 {
  float: left;
}

.LaeringBox h2 {
  color: #5A94C8;
  padding: 30px 0px 20px 30px;
  font-size: 30px;
  font-weight: 100;
}

.LaeringBox p {
  clear: both;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
}

.laeringInfo {
  background-color: #5A94C8;
  margin: 0px 0px 0px 325px;
  width: 100px;
  height: 175px;
}

/* FLYGTNING UDSIGTSTÅRN */

.picLaering2 {
  background-image: url("../img/Danmarks-Flygtninge-Museum-t%C3%A5rn-1024x575.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0px 50px 0px;
  width: 35%;
  height: 350px;
  float: left;
}

.LaeringBox2 {
  background-color: #f3f3f3;
  margin: 175px 0px 0px 250px;
  width: 325px;
  height: 175px;
  position: absolute;
}

.LaeringBox2 p,
h2 {
  float: left;
}

.LaeringBox2 h2 {
  color: #75902e;
  padding: 30px 0px 20px 30px;
  font-size: 30px;
  font-weight: 100;
}

.LaeringBox2 p {
  clear: both;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
}

.laeringInfo2 {
  background-color: #75902e;
  margin: 0px 0px 0px 325px;
  width: 100px;
  height: 175px;
}

/* FLYGTNINGELEJR */

.picLaering3 {
  background-image: url("../img/jesse-orrico-487694-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 250px 50px 0px;
  width: 35%;
  height: 350px;
  float: left;
}

.LaeringBox3 {
  background-color: #f3f3f3;
  margin: 175px 0px 0px 250px;
  width: 325px;
  height: 175px;
  position: absolute;
}

.LaeringBox3 p,
h2 {
  float: left;
}

.LaeringBox3 h2 {
  color: #fcc962;
  padding: 30px 0px 20px 30px;
  font-size: 30px;
  font-weight: 100;
}

.LaeringBox3 p {
  clear: both;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
}

.laeringInfo3 {
  background-color: #fcc962;
  margin: 0px 0px 0px 325px;
  width: 100px;
  height: 175px;
}

/*-----------------UNDERSIDE AKTIVITETER-----------------------------------------*/

/*-------------------AKTIVITETER SECTION 1-----------------------------------------*/

.bgaktiv {
  background-image: url("../img/anna-samoylova-535880-unsplash.jpg");
  height: 100vh;
  background-size: cover;
}

.aktivInfo {
  background-color: rgba(90,148,200, 0.8);
  height: 400px;
  width: 500px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.aktivInfo h2 {
  text-align: center;
  color: #ffffff;
  font-size: 42px;
  padding: 10px 0;
}

.aktivInfo p {
  padding: 0px 50px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
}

/*-------------------AKTIVITETER SECTION 2-----------------------------------------*/

.picAktiv {
  background-image: url("../img/135.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 50px 0px;
  width: 900px;
  height: 550px;
}

.picAktiv2 {
  background-image: url("../img/71.jpg");
  background-size: 100%;
  background-position: 0% 70%;
  margin: 0px 0% 50px 0px;
  width: 900px;
  height: 550px;
  float: right;
}




/*-------------------RESPONSIVE MEDIA QUERIES-----------------------------------------*/

/* media queries for 13 inch monitor */

@media (min-width: 768px) and (max-width: 1500px) {
    
/*----------------------------------HEADER media queries---------------------------*/
    header {
      height: 100px;
    }
    
    .logo img {
      width: 250px;
    }
    
    .nav-menu a {
      padding: 38.5px 25px;
      font-size: 20px;
    }
    
    .nav-menu img {
      width: 130px;
      padding-left: 40px;
    }
    
/*--------------------------INDEX SECTION 1 media queries----------------------------------*/

    .boxes {
      margin-top: 100px;
    }

    .wrapper1 {
      padding-top: 100px;
      width: 1200px;
    }

    .titel {
        height: 160px;
        width: 520px;
        border-radius: 20px;
    }
    
    .titel h2 {
      font-size: 34px;
      padding: 10px 10px;
    }

    .titel p {
      width: 400px;
      font-size: 20px;
    }

    .box2 {
      height: 320px;
      width: 500px;
    }

    .kortInfo {
      height: 270px;
    }

    .kortInfo h2 {
       padding: 30px 50px 20px;
       font-size: 26px; 
       font-weight: 900;    
    }
    
    .kortInfo p {
      font-size: 20px;
      font-weight: 100;
    }
    
    .book {
      font-size: 20px;
    }

    
/*-----------------------------INDEX SECTION 2 media queries------------------------------*/

    .information {
      padding: 50px 0px;
      font-size: 46px;
    }

    .cirkel {
      margin: 70px 28px 0;
    }
    
    .filler {
      width: 500px;
      height: 350px;
    }

    .wrapper {
      width: 900px;
    }

    /* LÆRING */

    .picBox {
      width: 500px;
      height: 350px;
    }

    .infoBox {
      margin: 175px 0px 0px 300px;
      height: 175px;
        width: 500px;
    }

    .infoBox h2 {
      padding: 30px 0px 20px 30px;
        font-size: 34px;
    }

    .infoBox p {
      clear: both;
      padding: 0px 30px 0px 30px;
      font-size: 16px;
    }

    .mereInfo {
      height: 175px;
          margin: 0px 0px 0px 500px;
    }

    /* AKTIVITETER */

    .picBox2 {
      width: 500px;
      height: 350px
    }

    .infoBox2 {
      margin: 175px 300px 0px 0px;
      height: 175px;
        width: 600px;
    }

    .infoBox2 h2 {
      padding: 30px 0px 20px 130px;
        font-size: 34px;
    }

    .infoBox2 p {
      padding: 0px 30px 0px 130px;
        font-size: 16px;
    }

    .mereInfo2 {
      height: 175px;
    }

    /* FACILITETER */

    .picBox3 {
      width: 500px;
      height: 350px;
    }

    .infoBox3 {
      margin: 175px 0px 0px 300px;
      height: 175px;
        width: 500px;
    }

    .infoBox3 h2 {
      padding: 30px 0px 20px 30px;
        font-size: 34px;
    }

    .infoBox3 p {
      clear: both;
      padding: 0px 30px 0px 30px;
      font-size: 16px;
    }

    .mereInfo3 {
      height: 175px;
          margin: 0px 0px 0px 500px;
    }

    /* KONTAKT OS */

    .picBox4 {
      width: 500px;
      height: 350px
    }

    .infoBox4 {
      margin: 175px 300px 0px 0px;
      height: 175px;
        width: 600px;
    }

    .infoBox4 h2 {
      padding: 30px 0px 20px 130px;
        font-size: 34px;
    }

    .infoBox4 p {
      padding: 0px 30px 0px 130px;
        font-size: 16px;
    }

    .mereInfo4 {
      height: 175px;
    }

/*-------------------AKTIVITETER SECTION 1 media queries----------------------------*/

    .aktivInfo {
      height: 270px;
        margin-bottom: 40px;
    }

    .aktivInfo h2 {
       padding: 30px 50px 20px;
       font-size: 30px; 
       font-weight: 900;  
    }

    .aktivInfo p {
      font-size: 20px;
      font-weight: 100;
    }
    
/*-------------------AKTIVITETER SECTION 2 media queries--------------------------*/

    .picAktiv {
      width: 500px;
      height: 350px
    }
    
    .picAktiv2 {
        background-size: cover;
        width: 500px;
        height: 350px
    }
    
/*-------------------LÆRING SECTION 2 media queries-----------------------*/
    .wrapper2 {
      width: 1100px;
    }
    
    .cirkel1 {
      width: 30px;
      height: 30px;
      margin: 60px 33px 0;
    }

    /* FLYGTNINGE MUSEUM */

    .picLaering {
      margin: 0px 200px 50px 0px;
      width: 35%;
      height: 300px;
    }

    .LaeringBox {
      margin: 150px 0px 0px 150px;
      width: 300px;
      height: 150px;
    }

    .LaeringBox h2 {
      padding: 30px 0px 20px 30px;
      font-size: 24px;
      font-weight: 100;
    }

    .LaeringBox p {
      padding: 0px 30px 0px 30px;
      font-size: 16px;
    }

    .laeringInfo {
      margin: 0px 0px 0px 300px;
      width: 100px;
      height: 150px;
    }

    /* FLYGTNING UDSIGTSTÅRN */

    .picLaering2 {
      margin: 0px 0px 50px 0px;
      width: 35%;
      height: 300px;
    }

    .LaeringBox2 {
      margin: 150px 0px 0px 150px;
      width: 300px;
      height: 150px;
    }

    .LaeringBox2 h2 {
      padding: 30px 0px 20px 30px;
      font-size: 24px;
      font-weight: 100;
    }

    .LaeringBox2 p {
      padding: 0px 30px 0px 30px;
      font-size: 16px;
    }

    .laeringInfo2 {
      margin: 0px 0px 0px 300px;
      width: 100px;
      height: 150px;
    }

    /* FLYGTNINGELEJR */

    .picLaering3 {
      margin: 0px 200px 50px 0px;
      width: 35%;
      height: 300px;
    }

    .LaeringBox3 {
      margin: 150px 0px 0px 150px;
      width: 300px;
      height: 150px;
    }

    .LaeringBox3 h2 {
      padding: 30px 0px 20px 30px;
      font-size: 24px;
      font-weight: 100;
    }

    .LaeringBox3 p {
      padding: 0px 30px 0px 30px;
      font-size: 16px;
    }

    .laeringInfo3 {
      margin: 0px 0px 0px 300px;
      width: 100px;
      height: 150px;
    }

}