html {
  scroll-behavior: smooth;
}

.vertical-menu {
  width: 200px;
  /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}

/* .vertical-menu a.active {
    background-color: #204887;
    /* Add a blue color to the "active/current" link */
/* color: white; */
/* } */

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  font-size: 1.2em;
  font-variant-caps: all-small-caps;
  font-family: "Roboto", sans-serif;
}

.main {
  position: absolute;
  left: 16em;
  margin-right: 3em;
  padding: 0.8em;
  line-height: 1.5;
  background-color: #e1d4cd;
}

body {
  background-color: #e1d4cd;
}

/***************** HJEM ********************/

.titlePic {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  justify-self: center;
  width: 350px;
  height: 200px;
  margin-left: 200px;
}

.hjemtitle {
  background-color: #e1d4cd;
  display: grid;
}

.hjemtitle h1 {
  display: grid;
  font-size: 50px;
  color: #ffffff;
  font-weight: 100;
  font-family: arial;
  justify-self: center;
  text-transform: uppercase;
  margin-left: 200px;
}

/************ MAIN TITLE FARVER **************/

.maintitlefarver {
  background-color: #daebff;
  display: grid;
  margin: 0 4% 0 19%;
}

.maintitlefarver h2 {
  font-size: 30px;
  font-weight: 100;
  font-family: sans-serif;
  margin: 2% 0 0 10%;
}

/************* SUB MAIN FARVER ******************/

.farver {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #daebff;
  font-family: sans-serif;
  margin-bottom: 20%;
  margin: 0 4% 0 19%;
}

.box {
  padding: 0 0 0 20px;
  margin: 9% 0 10% 25%;
}

.blue {
  background-color: #5a94c8;
  padding: 40px;
  width: 20%;
}

.green {
  background-color: #5ac869;
  padding: 40px;
  width: 20%;
}

.orange {
  background-color: #fcc962;
  padding: 40px;
  width: 20%;
}

.darkGreen {
  background-color: #75902e;
  padding: 40px;
  width: 20%;
}

/* IKONER SEKTION */

.ikonermaintitle {
  background-color: #daebff;
  display: grid;
  margin: 0 4% 0 19%;
}

.ikonermaintitle h2 {
  font-size: 30px;
  font-weight: 100;
  font-family: sans-serif;
  margin: 2% 0 0 10%;
}
