*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*----------------------------------------------HEADER-----------------------------------------*/

header{
    background: #fff;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
}

.logo{
    float: left;
}

.logo img{
    padding: 10%;
    width: 300px;
}

.nav-menu{  
    float: right;
}

.nav-menu a{
    float: left;
    display: block;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 45px 40px;
    font-size: 26px;
}

.nav-menu a:hover{
    background: #333;
    color: #fff;
}

.nav-menu img{
    width: 160px;
    padding-left: 40px;
}

/*----------------------------------------------FORSIDE-----------------------------------------*/

.bg{
    background-image: url("../img/anna-samoylova-535880-unsplash.jpg");
    height: 100vh;
    background-size: cover;
}

.boxes{

    height: 85vh;
    width: 100%;
    margin-top: 120px;
    float: left;
}

.box1{
    background-color: blue;
    height: 200px;
    width: 500px;
    margin-top: 100px;
    margin-left: 10%;
    float: left;
}

.box2{
    height: 600px;
    width: 500px;
    margin-top: 100px;
    margin-left: 60%;
}

.test{
    background-color: blue;
    height: 400px;
    width: 500px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.book{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* Koden forneden er for at centre button */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------SECTION 2-----------------------------------------*/

.information{
    color: #333;
    padding: 100px 200px;
    font-size: 50px;
    font-weight: 900;
}

.picBox{
    background-image: url("../img/lonely-planet-973277-unsplash.jpg");
    background-size: 100%;
    background-position: 0% 70%;
    margin: 0px 0px 50px 200px;
    width: 800px;
    height: 550px;
    border: solid 0.1px #333;
}

.infoBox{
    background-color: #f3f3f3;
    margin: 300px 0px 0px 550px;
    width: 500px;
    height: 250px;
}

.infoBox p, h2{
    float: left;
}

.infoBox h2{
    color: #019EE2;
    padding: 50px 0px 20px 50px;
    font-size: 50px;
    font-weight: 100;
}

.infoBox p{
    clear: both;
    padding: 0px 50px 0px 50px;
    font-size: 20px;
}

.mereInfo{
    background-color: #019EE2;
    margin: 0px 0px 0px 500px;
    width: 100px;
    height: 250px;
}